*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: beige;
}
header{
    background-color: rgb(112, 168, 29);
}
.navbar-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
li{
    display: inline;
    text-decoration: none;
    margin-left: 20px;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}
.image-custom{
    height: 80px;
    width: 100px;
    border: 2px solid orange;
    border-radius: 50px;
}

/* <!-- Toggle start here --> */
.toggle{
    display: none;
    color: yellow;
    font-size: 30px;
}
.close{
    display: none;
}
/* <!-- Toggle end here --> */

/* Media query start here */
@media(max-width: 992px){
    .toggle{
        display: block;
    }
    li{
        display: block;
        margin-top: 10px;
    }
    .navbar-area{
        position: relative;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0px;
        display: none;
        background-color: black;
        padding: 10px 30px;
    }
}
/* Media query end here */